{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AR Shops</title>
    <meta name="description" content="AR Bakes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	
    <div id="canvas-overlay"></div>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #5A4135; font-size: 14; font-weight: 600;"> 
        <a href="#about" class="text-uppercase"style="padding-right: 10%; padding-left:3%" ><img src="{% static 'img/logo3.png' %}" alt="Image" class="img-fluid" style="height: 50px;width: auto;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="padding-left: 10%;">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/">AR Bakes</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#contact" >Contact Us</a>
            </li>
        
          </ul>
        </div>
      </nav>
	<div class="boxed-page">

       
	<!-- <div class="hero" id="home">
  <div class="container">
	
`</div>		
	</div> -->
	

<section id="contact" class="section-padding">
    <div class="container">

            <br>
            <div class="heading-section text-center"><br>
                <span class="subheading">
                    Contact Us
                </span>
                <h2><br>
                   Call :  <br>  <a href="tel:+919567077926" class="mb-5">  9567077926  </a><br>
                </h2>
                <h4> <a href="tel:+91 8301804340" class="mb-5"> 8301804340   </a></h4>
                <h4>Email :  <br>  <a href="mailto:arbakescakes@gmail.com" class="mb-5" target="_blank"> arbakescakes@gmail.com </a></h4>
            </div>
        </div>
</section>
	<footer class="mastfoot pb-5 bg-white section-padding pb-0" id="about"> 
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4">
         		<div class="footer-widget pr-lg-5 pr-0">
         			<img src="{% static 'img/logo1.png' %}" class="img-fluid footer-logo mb-3" alt="" width="60%" height="60%">
	         		<p>Alaparambu House
                        Kanniyampuram (P.O)</p>
                        <p>(Near AM Wing Honda showroom)</p>
                        <p>Ottapalam (Palakkad Dist.)</p>
                        <p>Pin: 679104</p>
	         		
         		</div>
         		
         	</div>
         	<div class="col-lg-4">
         		<div class="footer-widget px-lg-5 px-0">
         			<h4>Open Hours</h4>
	         		<ul class="list-unstyled open-hours">
		                <li class="d-flex justify-content-between"><span>Monday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Tuesday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Wednesday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Thursday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Friday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Saturday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Sunday</span><span> Close</span></li>
		              </ul>
         		</div>
         		
         	</div>

         	<div class="col-lg-4">
         		<div class="footer-widget pl-lg-5 pl-0">
                     <h4>Our Other Shops:</h4>
                     <p><a class="nav-link" href="/">AR Bakes</a>
        
                     <nav class="nav nav-mastfoot justify-content-start">
		                <a class="nav-link" href="https://www.facebook.com/ar.bakes.50">
		                	<i class="fab fa-facebook-f"></i>
		                </a>
		                
		                <a class="nav-link" href="https://instagram.com/arbakescake?igshid=1nhztbbeu66lk">
		                	<i class="fab fa-instagram"></i>
		                </a>
		            </nav>
                 </div>                                
             </div>
              
         	<div class="col-md-12 d-flex align-items-center">
                 
                 
                <br><p class="mx-auto text-center mb-0" style="font-size: small;">Copyright 2020. All Right Reserved.</p>
                 </div>
             
            
        </div>
    </div>
</footer>	</div>
</div>
	<!-- External JS -->
	<!-- External JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="{% static 'vendor/bootstrap/popper.min.js '%}'"></script>
	<script src="{% static 'vendor/bootstrap/bootstrap.min.js'%}"></script>
	<script src="{% static 'vendor/select2/select2.min.js'%} "></script>
	<script src="{% static 'vendor/owlcarousel/owl.carousel.min.js'%}"></script>
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
	<script src="{% static 'vendor/stellar/jquery.stellar.js  '%}" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

	<!-- Main JS -->
	<script src="{% static 'js/app.min.js '%} "></script>
</body>
</html>
