{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AR Bakes-{{page}}</title>
    <meta name="description" content="AR Bakes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.min.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	
    <div id="canvas-overlay"></div> 
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #5A4135; font-size: 14; font-weight: 600;"> 
        <a href="#about" class="text-uppercase"style="padding-right: 10%; padding-left:3%" ><img src="{% static 'img/logo.png'%}" alt="Image" class="img-fluid" style="height: 50px;width: auto;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse "  id="navbarTogglerDemo02" style="padding-left: 10%;">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/#home">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="menu">Menu</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#contact" >Contact Us</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our sister shops
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #D5BA9A;">
                  <a class="dropdown-item" href="contact" style="color:#5A4135;">AR Communication</a>
                  <a class="dropdown-item" href="contact" style="color:#5A4135;">AR Tailors</a>
                </div>
              </li>
          </ul>
        </div>
      </nav>
	<div class="boxed-page">

    {% block content %}  

    {% endblock %}
    {%if not x %}
        <section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style="background-image: url({% static 'img/bg.jpg'%});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-content bg-white p-5 shadow">
                            <div class="heading-section text-center">
                                <span class="subheading">
                                    Place
                                </span>
                                <h2>
                                    Order
                                </h2>
                                <p>After successful order placement sit back and relax... Expect a call from us within an hour for order 
                                    confirmation.</p> <p>If didn't recieve a confirmation call ,feel free to <a href="#contact">Contact Us </a> </p>
                            </div>
                            <form method="POST" name="contact-us" action="https://formspree.io/f/xgepzlap">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="phoneNumber" name="subject" placeholder="Phone">
                                    </div>                 
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Order ...&#10;(Cake 1)   (quantity)&#10;(Cake 2)   (quantity)"></textarea>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Place Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- End of Reservation Section -->	
    {% endif%}	
  

		
	<footer class="mastfoot pb-5 bg-white section-padding pb-0" id="about"> 
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4">
         		<div class="footer-widget pr-lg-5 pr-0">
         			<img src="{% static 'img/logo2.png'%}" class="img-fluid footer-logo mb-3" alt="" width="60%" height="70%">
	         		<p>Alaparambu House
                        Kanniyampuram (P.O)</p>
                        <p>(Near AM Wing Honda showroom)</p>
                        <p>Ottapalam (Palakkad Dist.)</p>
                        <p>Pin: 679104</p>
	         		
         		</div>
         		
         	</div>
         	<div class="col-lg-4">
         		<div class="footer-widget px-lg-5 px-0">
         			<h4>Open Hours</h4>
	         		<ul class="list-unstyled open-hours">
		                <li class="d-flex justify-content-between"><span>Monday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Tuesday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Wednesday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Thursday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Friday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Saturday</span><span>9:00am - 8:00pm</span></li>
		                <li class="d-flex justify-content-between"><span>Sunday</span><span> 9:00am - 12:00pm</span></li>
		              </ul>
         		</div>
         		
         	</div>

         	<div class="col-lg-4">
         		<div class="footer-widget pl-lg-5 pl-0">
                     <h4>Our Other Shops:</h4>
                     <p><a class="nav-link" href="contact">AR Communications</a>
                     <a class="nav-link" href="contact">AR Tailors</a></p>
                     <nav class="nav nav-mastfoot justify-content-start">
		                <a class="nav-link" href="https://www.facebook.com/ar.bakes.50">
		                	<i class="fab fa-facebook-f"></i>
		                </a>
		                
		                <a class="nav-link" href="https://instagram.com/arbakescake?igshid=1nhztbbeu66lk">
		                	<i class="fab fa-instagram"></i>
		                </a>
		            </nav>
                 </div>                                
             </div>
              
         	<div class="col-md-12 d-flex align-items-center">
                 
                 
                 <div class="col-lg-6"><br><p class="mx-auto text-center mb-0" style="font-size: small;">Copyright 2020. All Right Reserved.</p></div>
                 <div class="col-lg-6"><br><p class="mx-auto text-center mb-0" style="font-size: small;">*The actual cake may differ from Images given</p></div>
                 
             </div>
             
            
        </div>
    </div>
</footer>	</div>
</div>
	<!-- External JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="{% static 'vendor/bootstrap/popper.min.js '%}'"></script>
	<script src="{% static 'vendor/bootstrap/bootstrap.min.js'%}"></script>
	<script src="{% static 'vendor/select2/select2.min.js'%} "></script>
	<script src="{% static 'vendor/owlcarousel/owl.carousel.min.js'%}"></script>
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js"></script>
	<script src="{% static 'vendor/stellar/jquery.stellar.js  '%}" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

	<!-- Main JS -->
	<script src="{% static 'js/app.min.js '%} "></script>
</body>
</html>
 